<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>每日美女</title>
</head>
<body>
<h4>
嘿咻 - 是一款互动类答题游戏。
</h4>
<h4>规则如下</h4>
<ol>
	<li>回复 “嘿咻”开始游戏</li>
	<li>答题开始，显示女优照片，必须在3分钟内回复其名字。否者自动退出游戏。</li>
	<li>回答正确，进入下一题。</li>
	<li>回答错误，重新回答本题。回答错误三次，退出本游戏。</li>
	<li>每次答题中有“1次”跳过的机会，回复“振动器”即可跳过。</li>
<!-- 	<li>6 每人每天只能进入一次答题模式。</li> -->
	<li>回复“啊” 退回游戏。</li>
</ol>

 <!--
积分规则：
1 回答正确，获得一个积分。
2 新用户默认3个积分。
 -->
<h4>总排行</h4>
<ol>
	<li>第一名：20 题(通关)</li>
	<li>第二名：12题</li>
	<li>第三名：8  题</li>
	<li>第四名：7  题</li>
</ol>

<h4>周排名冠军，试用百度云盘3天(BT种子离线秒杀下载并在线观看 - 狼友利器)</h4>
<!-- ＝＝＝＝＝
总排行：
第一名：３４题
第二名：２９题
第三名：２７题
第四名：２６题
第五名：２４题
共４０题，１０４人参与。
＝＝＝＝＝＝
每日奖励：百度云盘（ 150G，一年，有离线下载）

 -->
</body>
</html>


