<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>每日美女</title>
</head>
<body>

<div id="headline" class="item">
    <div class="pic" style="float:left">
        <img  alt="麻生希"src="/images/mashengxi.jpg">
    </div>
    <div class="info" style="margin-left:130px;">
        
    <ul style="list-style:none;">
        <li>
            <span>名字</span>:  麻生希
        </li>
        <li>
            <span>性别</span>:  女
        </li>
        <li>
            <span>星座</span>:  天蝎座
        </li>
        <li>
            <span>出生日期</span>:   1988年12月20日
        </li>
        <li>
            <span>出生地</span>:  日本神奈川县横滨市
        </li>
        <li>
            <span>职业</span>:  演员
        </li>
        <li>
            <span>更多外文名</span>:    あそう のぞみ
        </li>
    </ul>

    </div>
</div>
<div style="clear:both;"></div>

<a href="/files/zhongzi/msc.rar" >猛击下载</a>
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6c3ed0c2bf40a96e2da01a5ad34be1e6' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>


